.searchBar {
    margin-bottom: 20px;
}

.icons {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.active {
    color: blue;
}

.usergrid {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.usergrid h4 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    cursor: pointer;
}

.usergrid img {
    border-radius: 25px;
    margin-bottom: 10px;
}

.usergrid p {
    text-align: left;
}

.grid-layout {
    margin-left: -4px;
    margin-right: -4px;
    height: 365px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05) inset;
}