<h3>Users List</h3>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="12">
        <input placeholder="Search Name" class="searchBar" [(ngModel)]="SearchName"
            (ngModelChange)="onNameChange($event)" />
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <i nz-icon class="icons" [ngClass]="{'active': isTable === true}" nzType="table" nzTheme="outline"
            (click)='changeView("table")'></i>
        <i nz-icon class="icons" [ngClass]="{'active': isTable === false}" nzType="appstore" nzTheme="outline"
            (click)='changeView("grid")'></i>
    </div>
</div>

<div class="grid" *ngIf='!isTable'>
    <div class="grid-layout">
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="8" *ngFor="let item of listOfData">
                <nz-card class="usergrid" nzTitle="Card title" (click)='getUser(item)'>
                    <img src={{item.picture.thumbnail}} />
                    <h4>{{ item.name.first }} {{ item.name.last }}</h4>
                    <p>Mobile No: {{ item.phone }}</p>
                    <p>Gender: {{item.gender}}</p>
                    <p>Email: {{item.email}}</p>
                </nz-card>
            </div>
        </div>  
    </div>
</div>

<div class="table" *ngIf='isTable'>
    <nz-table #virtualTable [nzBordered]="true" [nzData]="listOfData" [nzFrontPagination]="true"
        [nzShowPagination]="true" [nzScroll]="{ y: '240px' }">
        <thead>
            <tr>
                <th>Picture</th>
                <th nzLeft>Full Name</th>
                <th>Gender</th>
                <th>Email Id</th>
                <th>DOB</th>
                <th>Mobile No</th>
                <th nzRight>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-template nz-virtual-scroll let-data let-index="index">
                <tr>
                    <td><img src={{data.picture.thumbnail}} /></td>
                    <td nzLeft>{{ data.name.first }} {{ data.name.last }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.dob.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ data.phone }}</td>
                    <td nzRight>
                        <a (click)='getUser(data)'>View</a>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</div>