<h3>User-Details</h3>

<div class="col-50p">
    <h4>{{userData.name.title}} {{userData.name.first}} {{userData.name.last}}</h4>
    <p>Mobile No: {{userData.phone}}</p>
    <p>DOB: {{ userData.dob.date | date: 'dd/MM/yyyy' }}</p>
    <p>Email Id: {{userData.email}}</p>
    <p>Gender: {{userData.gender}}</p>
    <h4>Address:</h4>
    <p>{{userData.location.street.number}}, {{userData.location.street.name}},</p>
    <p>{{userData.location.city}}, {{userData.location.state}},</p>
    <p>{{userData.location.postcode}} {{userData.location.country}}.</p>
</div>
<div class="col-50p">
    <img src={{userData.picture.large}} />
</div>